body {
    margin: 0;
    background: linear-gradient(to right, black, red)
}

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
/* text in header */
h1 {
    margin: 0;
    padding: 10px;
    font-family: 'Black Ops One';
    font-size: 40px;
}
/* header css start */
header {
    height: 70px;
    border-bottom: 1px solid rgb(0, 225, 255);
    margin: 0px 0px;
    background: linear-gradient(to right, black, red);
    color: rgb(255, 255, 255);
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    top: 0;
    left: 0;
    right: 0;
}
/* left side of header for text */
.left-side {
    margin-left: 10px;
}
/* hyper links */
.nav {
    padding: 0px 10px;
}
/* rigth side of header with containers */
.right-side {
    /* border-left: 1px solid rgb(0, 225, 255); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
}

.nav:hover {
    transform: scale(1);
    transition: all 1s linear;
}

.right-side a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* border: 1px solid rgb(255, 255, 255); */
    padding: 5px;
    border-radius: 10px;
}

.right-side a:hover {
    color: rgb(0, 0, 0);
    text-decoration: line-through;
    /* border: 2px solid black; */
    transition: all 0.3s ease-in;
}

.right-side a:active {
    color: rgb(255, 0, 0);
}
#bars{
    display: none;
    cursor: pointer;
    color: black;
}
/* header css ends */

/* profile css starts */
.profile {
    display: flex;
    align-items: center;
    margin-top: 80px;
    color: white;
    justify-content: space-evenly;
    padding: 50px;
    gap: 100px;
    border-bottom: 2px solid;
}

.profile-image-icons img {
    width: 300px;
    padding: 10px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin: 10px;
}

.profile-image{
    perspective: 500px;
    transform: preserve-3d;
}
.profile-image:hover{
    transform: scale(1.05) rotateZ(5deg);
    transition: all 0.3s ease-in;

}
.icons{
    text-align: center;
    margin: 0px;
}
.icons a{
    color: red;
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
    /* border: 1px solid; */
    margin: 0;
}
.icons a:hover{
    color: white;
    transition: all 0.3s ease-in-out;
}
#github:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
#mail:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
.profile-content {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: auto;
    position: relative;
}

.profile-content h2 {
    padding: 10px;
    margin-left: 5px;
    font-size: 30px;
}

.profile-content h4 {
    font-size: 25px;
    margin: 0;
    position: absolute;
    top: 100%;
    right: 10%;
}

.profile-content p {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.box-container{
    /* border: 2px solid; */
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.boxes{
    width: 100px;
    height: 100px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 15px;
    /* border: 1px solid; */
}
.boxes.box1{
    background-color: black;
    position: relative;
    left: 65%;
}
.boxes.box2{
    background-color: white;
    position: relative;
    left: 10%;
}
.boxes.box3{
    background-color: black;
    position: relative;
    left: 50%;
}
.boxes.box4{
    background-color: white;
}
.boxes.box1:hover{
    background-color: rgb(255, 255, 255);
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out;
}
.boxes.box2:hover{
    background-color: rgb(0, 0, 0);
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out;
}
.boxes.box3:hover{
    background-color: rgb(255, 255, 255);
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out;
}
.boxes.box4:hover{
    background-color: rgb(0, 0, 0);
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out;
}